@import "../../styles/partials/variables";

.details__container {
    @include horiComponentsPadding;
}

.details__container--extras {
    display: flex;
    justify-content: space-between;
    
    @media only screen and (max-width: $mobile-px) {
        justify-content:flex-start;
        flex-wrap: wrap;
    }
}

.details__container--info-one {
    display: flex;
    justify-content: left;
    float: left;
    p {
        @include leftPadding;
    }

    @media only screen and (max-width: $mobile-px) {
        display: block;
    }
}

.details__container--info-two {
    display: flex;
    justify-content: right;

    p {
        @include rightMargin;
        float: right;

        span {
            padding-right: 8px;
        }
    }

    @media only screen and (max-width: $mobile-px) {
        display: block;
        @include leftMargin;
    }
}

.details__container--title {
    @include horiComponentsPadding;
    @include pageHeader;
}

.details__container--desc p{
    @include bodyCopy;
    @include leftPadding;
}