@import "../../styles/partials/variables";

.nextvideo__container {
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100px;

    @include leftMargin;
}

.nextvideo__card {
    border: none;
    @include bottomMargin;
    display: flex;
    flex-wrap: nowrap;
    background-color: $white;
    text-decoration: none;
    color: $mercury;

    a {
        text-decoration: none;
    }

}

.nextvideos__section--title {
    @include sectionHeader;
    color: $mercury;
    @include leftPadding;
    
}

.link {
    text-decoration: none;
}

.nextvideo__info__container {
    display: grid;
    @include leftMargin;
}

.info__container--title {
    color: $brainflix-dark-black;
    text-decoration: none;
}

.nextvideo__img--container {
    width: 200px;
    height: 100px;

    img {
        width: inherit;
        height: inherit;
        @include imageRadius; 
    }
}

.info__container--title {
    @include subHeader;
}

.info__container--channel {
    @include bodyCopy;
}