.currentvideo__container {
    background-color: black;
    width: 100%;
}

.currentvideo__container video{
    display: block;
    width: 100vw;
    max-width: 177.78vh;
    /* 16/9 = 1.778 */
    height: 56.25vw;
    /* height:width ratio = 9/16 = .5625  */
     max-height: 100vh;
}